<html>
  <head>
    <style>
      body {
        background: url('https://i.imgur.com/cECWGnE.png');
        background-size: auto;
        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        padding: 0 30px 0 30px;
      }
      /* Table design */
      table>thead>tr>th,
      table>tbody>tr>th,
      table>thead>tr>td,
      table>tbody>tr>td { border-top:0px; }
      table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-spacing: 0;
        border-collapse: collapse;
        border-radius: 2px;
        background-color: transparent;
        -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.24);
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.24);
      }
      table tr:last-child td:first-child {border-bottom-left-radius: 2px;}
      table tr:first-child td:first-child{border-top-left-radius: 2px;}
      table tr:last-child td:last-child {border-bottom-right-radius: 2px;}
      table tr:first-child td:last-child{border-top-right-radius: 2px;}
      table thead {background-color: rgba(75,154,215,.24);}
      tbody>tr:nth-child(odd){background-color: rgba(0,0,0,.24);}

      td {
        max-width: 800px;
        word-wrap: break-word;
      }

      .profil {
        display: flex;
        margin-bottom: 20px;
      }
      .profil img {
        margin-right: 20px;
      }
      .profil-detail {
        display: flex;
        flex-direction: column;
      }
      .button {
        background-color: rgba(75,154,215,.24);
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    {{#player}}
    <section class='profil'>
      <img src="https://crafatar.com/avatars/{{ player.uuid }}?size=128"/>
      <div class="profil-detail">
        <p>{{ player.nickname }}</p>
        <p>{{ player.uuid }}</p>
      </div>
    </section>
    {{/player}}
    {{^player}}
      <p>Page courante: {{ page }}</p>
      <a class="button" onclick="prevNextPage('prev')">Page Précédente</a>
      <a class="button" onclick="prevNextPage('next')">Page Suivante</a>
    {{/player}}
    {{> ban}}
    {{> kick}}
    {{> mute}}
    {{> warn}}
  </body>
  <script type="text/javascript">
    function prevNextPage(action){
    const searchParams = new URLSearchParams(window.location.search);
      const currentPage = parseInt(searchParams.get('page')) || 0;
      if (action == 'prev') {
        if(currentPage > 0){
          searchParams.set('page', currentPage - 1);
          window.location.search = searchParams.toString();
        }
      } else if(action == 'next'){
        searchParams.set('page', currentPage + 1);
        window.location.search = searchParams.toString();
      }
    }
  </script>
</html>
